:root {
    --light-green: #A4BD92;
    --dark-green: #575E51;
    --lighter-green: #C6E5B1;
    --beige: #F0EADB;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--beige);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.body-form {
    flex-direction: column;
    height: auto;
}

.head {
    background: var(--lighter-green);
    width: 100%;
    height: 120px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container {
    background: var(--light-green);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

#login-container {
    border-radius: 45px;
    border: 3px solid var(--light-green);
    background: var(--lighter-green);
    padding: 30px;
    text-align: center;
    width: 350px;
    height: 300px;
    position: relative;
}

label {
    display: block;
    background: var(--dark-green);
    color: var(--beige);
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 2px solid var(--dark-green);
    background: var(--beige);
}

select {
    background: var(--dark-green);
    color: var(--beige);
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 15px;
    border-radius: 15px;
    border: 2px solid var(--dark-green);
    background: var(--beige);
    color: var(--dark-green);
    cursor: pointer;
}

button:hover {
    background-color: var(--dark-green);
    color: var(--beige);
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}