:root {
    --light-green: #A4B58E;
    --dark-green: #5A5F4F;
    --lighter-green: #C6E5B1;
    --beige: #F0EADB;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--light-green);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: var(--light-green);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

#login-container {
    border-radius: 45px;
    border: 3px solid var(--light-green);
    background: var(--lighter-green);
    padding: 30px;
    text-align: center;
    width: 350px;
    height: 300px;
    position: relative;
}

label {
    display: block;
    background: var(--dark-green);
    color: white;
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    background: #EAEAEA;
}

select {
    background: #666;
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    background: white;
    color: var(--dark-green);
    cursor: pointer;
}

button:hover {
    background-color: var(--dark-green);
    color: white;
}

.tabela-btn {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}