body {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: #f5ebdc;
    font-family: 'Montserrat';
    font-weight: 400;
  }
  
  .container {
    justify-content: space-evenly;
    border-radius: 45px;
    border: 3px solid #A4BD92;
    background: #C6E5B1;
    padding: 30px;
    text-align: center;
    width: 350px;
    height: 300px;
    position: relative;
    
  }
  
  label {
    display: block;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    background: #A4BD92;
    padding: 3px 8px;
    border-radius: 45px;
    border:solid 2px;
    border-color: #66755B;
    width: fit-content;
  }
  
  input {
    width: 330px;
    height: 28px;
    padding: 10px;
    margin-bottom: 25px;
    border: none;
    border-radius: 20px;
    background: #e8e8e8;
    outline: none;
    font-size: 20px;
  }
  
  button {
    background: #575E51;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    width:110px;
    height: 55px;
    top: 775px;
    left: 625px;
    border: 2px solid #66755B;
    border-radius: 45px;
  }
  
  button:hover {
    background-color: #66755B;
  }