:root {
    --light-green: #A4B58E;
    --dark-green: #5A5F4F;
    --lighter-green: #C6E5B1;
    --beige: #F0EADB;
    --whitemine: #E8E9ED;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--beige);
    display: grid;
  
    grid-template-rows:  1fr 1fr 1fr;
    align-items: center;
    height: 100vh;
}

h2 {
    display: block;
    background: var(--dark-green);
    color: white;
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
    margin-bottom: 5px;
    font-size: 22px;
}

label {
    display: block;
    background: var(--dark-green);
    color: white;
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
    margin-bottom: 5px;
    font-size: 20px;
}

.container{
    width: 400px;
    height: fit-content;
    margin:auto;
    padding: 40px;
}

.containerOutline {
    background: var(--light-green);
    padding: 20px;
    border-radius: 30px;
    border: 3px solid var(--dark-green);
    width: 25vw;
    height: 75vh;
    position: relative;
}
#casoespecial {
    min-height: fit-content;
}
.Tudo{
    justify-self: center;
    background: var(--light-green);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr;
    width: 75vw;
    position: relative;
}
header{
    background-color: var(--beige);
}
.foot{
    justify-self: center;
    background: var(--light-green);
    display: flex;
    justify-content: center;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    width: 75vw;
    position: relative;
}
.checkbox{
   
    width:20px ;
    height:20px ;
}
input, select {
    width: 22vw;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 2px solid var(--dark-green);
    background: #EAEAEA;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

textarea{
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 2px solid var(--dark-green);
    background: #EAEAEA;
    resize: none;
    height: 70px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    overflow:hidden;
}
#Alergia{
    height: 100px;
}
select {
    background: #666;
    color: white;
}
.containerHeader{
    background-color: var(--lighter-green);
    display: flex;
    border-bottom-left-radius:40px ;
    border-bottom-right-radius:40px ;
    position: center;
}
#Logo{
    padding-left: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 60px;
}
.butoes {
    padding-left: 30vw;
    padding-top: 4vh;
}
button {
    padding: 10px 15px;
    border-radius: 45px;
    border: 3px solid var(--dark-green);
    background: white;
    color: var(--dark-green);
    cursor: pointer;
    font-size: 22px;
    width: 200px;
    height: fit-content;
}
#ButDados{
    padding: 10px 15px;
    border-radius: 45px;
    background: var(--dark-green);
    color: var(--whitemine);
    cursor: pointer;
    margin-left: -180px;
}

#ButDados:hover{
    background-color: var(--light-green);
    border: 3px solid var(--whitemine);
    color: white;
}

#ButPro{
    padding: 10px 15px;
    border-radius: 45px;
    border: 3px solid var(--whitemine);
    background: var(--light-green);
    color: var(--whitemine);
    cursor: pointer;
    position: center;
    margin-left: 170px;
    width: 250px;
}

.Butfoot{
    background-color: var(--lighter-green);
    border: 4px solid var(--whitemine);
    color:black;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 30px;
    width: 250px;
}

.Butfoot:hover{
    background-color:var(--dark-green); 
    color:white;
}

#ButConfirmar{
    margin-left:170px;
}

#login-container {
    border-radius: 45px;
    border: 3px solid var(--light-green);
    background: var(--lighter-green);
    padding: 30px;
    margin: auto;
    text-align: center;
    width: 370px;
    height: 300px;
    position: relative;
    align-self: center;
}

.show-info-box {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 2px solid var(--dark-green);
    background: #EAEAEA;
    resize: none;
    height: 70px;
    font-size: 15px;
    overflow:hidden;
}

.show-info-line {
    width: 90%;
    height: 4%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 2px solid var(--dark-green);
    background: #EAEAEA;
    font-size: 15px;
}

#PatientInfo {
    display: inline;
    height: 100px;
}