h2 {
    display: block;
    background: var(--dark-green);
    color: white;
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
    margin-bottom: 5px;
    font-size: 22px;
}
h3 {
    display: block;
    background: var(--dark-green);
    color: white;
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
    margin-bottom: 5px;
    font-size: 20px;
}
body {
    background-color: var(--beige);
}
.container{
    width: 400px;
}
.containerOutline {
    background: var(--light-green);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--dark-green);
    width: 300;
}
.Tudo{
    background: var(--light-green);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center center;
}   